<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>宝安区突发事件伤病员院内救治情况报告表</title>
    <script th:src="@{/easyui/jquery.min.js}" type="text/javascript" charset="utf-8"></script>              <!-- jquery核心库 -->
    <script th:src="@{/easyui/jquery.easyui.min.js}" type="text/javascript" charset="utf-8"></script>       <!-- easyui核心库 -->
    <link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css"/>                 <!-- easyui核心UI文件 css -->
    <link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css"/>                           <!-- easyui图标 -->
    <script th:src="@{/easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript" charset="utf-8"></script>

    <style>

        body{
            width: 80%;
            min-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        .textbox-label{
            font-size: 16px;
        }
        .textbox .textbox-text{
            font-size: 16px;
        }

        .hidden{
            display:none
        }

    </style>

</head>
<body>

    <div style="margin:20px 0;"></div>
    <table id="dataList" class="easyui-datagrid" title="事件伤病员院内救治情况报告表" style="height:600px;margin-top: 5px;"
           data-options="rownumbers:true,singleSelect:true,url:'/MedicalRescue/dateGrid',method:'get',toolbar:'#tb'">
        <thead>
        <tr>
            <th data-options="field:'eventType',width:100,align:'center'">类型</th>
            <th data-options="field:'eventLevel',width:80,align:'center'">分级</th>
            <th data-options="field:'occurrenceDatetime',width:150,align:'center'">发生时间</th>
            <th data-options="field:'occurrenceAddress',width:300,align:'center'">发生地点</th>
            <th data-options="field:'paadmDatetime',width:150,align:'center'">入院时间</th>
            <th data-options="field:'reportDatetime',width:150,align:'center'">报告时间</th>
            <th data-options="field:'eventDesc',width:500,align:'center'">简要经过</th>
            <th data-options="field:'id',width:30,align:'center'">id</th>
        </tr>
        </thead>
    </table>
    <div id="tb" style="padding:2px 5px;margin: 5px;">
        日期: <input class="easyui-datebox" id="startDate" th:value="${#dates.createToday()}" style="width:130px">
        至: <input class="easyui-datebox" id="endDate" th:value="${#dates.createToday()}" style="width:130px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="dataLoad()">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="addRescue()">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="editRescue()">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteRescue()">删除</a>
    </div>

    <input class="easyui-textbox" name="userId" id="userId" data-options="cls:'hidden'"  th:value="${userId}" />

    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            dataLoad();
        });

        function dataLoad() {

            $('#dataList').datagrid('load', {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val()
            });
        }
        
        function addRescue() {

            var url="/MedicalRescue/rescue/index?userId="+$("#userId").val();
            var width=($(window).width())*0.85;
            var height=($(window).height())*0.85;
            window.open(url,"rescue","toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbar=yes,resizable=no,height="+height+",width="+width+",top=100,left=100")
        }

        function editRescue() {

            var id=getSelected()
            if(id==""){
                $.messager.alert('温馨提示', "请先选择一项纪录再修改");
                return;
            }
            var url="/MedicalRescue/rescue/index?userId="+$("#userId").val()+"&rescueId="+id;
            var width=($(window).width())*0.85;
            var height=($(window).height())*0.85;
            window.open(url,"rescue","toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbar=yes,resizable=no,height="+height+",width="+width+",top=100,left=100")
        }
        
        function deleteRescue() {
            var id=getSelected()
            if(id==""){
                $.messager.alert('温馨提示', "请先选择一项纪录再删除");
                return;
            }else{

                $.get("/MedicalRescue/remove/"+id,function (data) {
                    //var data = eval('(' + data + ')');
                    if(data.code==0){
                        $.messager.show({
                            title:'提示',
                            msg:'删除成功。',
                            timeout:2000,
                            showType:'null',
                            style:{

                            }
                        });
                        dataLoad();
                    }else{
                        $.messager.show({
                            title:'提示',
                            msg:data.msg,
                            timeout:2000,
                            showType:'null',
                            style:{

                            }
                        });
                    }
                });
            }
        }

        function getSelected(){
            var row = $('#dataList').datagrid('getSelected');
            if(row){
                return row.id;
            }else{
                return "";
            }

        }
        
    </script>

</body>
</html>