<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>宝安区突发事件医疗救援信息报告表</title>
   <!-- <link rel="stylesheet" type="text/css" th:href="@{/whiteboards/css/font-awesome.min.css}"/>-->
    <script th:src="@{/easyui/jquery.min.js}" type="text/javascript" charset="utf-8"></script>              <!-- jquery核心库 -->
    <script th:src="@{/easyui/jquery.easyui.min.js}" type="text/javascript" charset="utf-8"></script>       <!-- easyui核心库 -->
    <link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css"/>                 <!-- easyui核心UI文件 css -->
    <link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css"/>                           <!-- easyui图标 -->
    <script th:src="@{/easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/validate.js}" type="text/javascript" charset="utf-8"></script>

    <style>

        body{
            /*width: 75%;
            min-width: 1280px;*/
            margin-left: auto;
            margin-right: auto;
        }

        form > div{
            margin-left: 50px;
            margin-top: 10px;
        }

        .textbox-label{
            font-size: 16px;
        }

        .textbox .textbox-text{
            font-size: 16px;
        }

        .hidden{
            display:none
        }

        .myTable{
            margin-left: 50px;
            margin-top: 10px;
        }

    </style>

</head>

<body>

    <div style="font-size: 28px;text-align: center">宝安区突发事件医疗救援信息报告表</div>
    <div style="margin: 20px"></div>
    <form id="rescue" method="post">
        <div>
            <label class="textbox-label" for="organization" style="text-align: left;width: 100px;">报告单位：</label>
            <input class="easyui-textbox" name="organization" id="organization" style="width:300px" th:value="${rescue.organization}" data-options="required:true" />
            <label class="textbox-label" for="reportDatetime" style="text-align: left;width: 100px;margin-left: 50px;">报告时间：</label>
            <input class="easyui-datetimebox" name="reportDatetime" id="reportDatetime" style="width:200px" th:value="${#dates.format(rescue.reportDatetime,'yyyy-MM-dd HH:mm:ss')}" data-options="required:true"/>
        </div>

        <div>
            <label class="textbox-label" for="reporter" style="text-align: left;width: 100px;">报告人：</label>
            <input class="easyui-textbox" name="reporter" id="reporter" style="width:120px" th:value="${rescue.reporter}" data-options="required:true" />
            <label class="textbox-label" for="phone" style="text-align: left;width: 70px;margin-left: 50px;">手机：</label>
            <input class="easyui-textbox" name="phone" id="phone" style="width:150px" data-options="validType:'phoneNum'" th:value="${rescue.phone}" />
            <label class="textbox-label" for="approver" style="text-align: left;width: 120px;margin-left: 50px;">审核院领导：</label>
            <input class="easyui-textbox" name="approver" id="approver" style="width:120px" th:value="${rescue.approver}" />
        </div>

        <div>
            <div class="easyui-panel" style="padding: 10px;">
                <div id="event">
                    <label class="textbox-label" style="text-align: left;width: 400px;font-size: 28px">突 发 公 共 事 件 信 息</label>
                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" for="eventType" style="text-align: left;width: 100px;">事件类型：</label>
                        <!--<input class="easyui-textbox" name="eventType" id="eventType" style="width:200px" />-->
                        <select class="easyui-combobox" name="eventType" id="eventType" style="width:120px" th:sel="${rescue.eventType}" >
                            <option th:value="0"></option>
                            <option th:each="type:${typeList}" th:value="${type.id}" th:text="${type.name}"></option>

                        </select>

                        <label class="textbox-label" for="eventLevel" style="text-align: left;width: 100px;margin-left: 50px;">事件分级：</label>
                        <select class="easyui-combobox" name="eventLevel" id="eventLevel" style="width:100px" th:sel="${rescue.eventLevel}" >

                            <option th:value="0"></option>
                            <option th:each="level:${levelList}" th:value="${level.id}" th:text="${level.name}"></option>

                        </select>
                        <label class="textbox-label"  style="text-align: left;width: 80px;">级</label>
                    </div>

                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" for="occurrenceDatetime" style="text-align: left;width: 100px;">发生时间：</label>
                        <input class="easyui-datetimebox" name="occurrenceDatetime" id="occurrenceDatetime" style="width:200px" th:value="${#dates.format(rescue.occurrenceDatetime,'yyyy-MM-dd HH:mm:ss')}" data-options="required:true" />
                        <label class="textbox-label" for="occurrenceAddress" style="text-align: left;width: 100px;margin-left: 50px;">发生地点：</label>
                        <input class="easyui-textbox" name="occurrenceAddress" id="occurrenceAddress" style="width:250px" th:value="${rescue.occurrenceAddress}" />
                        <label class="textbox-label" for="paadmDatetime" style="text-align: left;width: 100px;margin-left: 50px;">入院时间：</label>
                        <input class="easyui-datetimebox" name="paadmDatetime" id="paadmDatetime" style="width:200px" th:value="${#dates.format(rescue.paadmDatetime,'yyyy-MM-dd HH:mm:ss')}" data-options="required:true" />
                    </div>

                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" for="eventDesc" style="text-align: left;width: 120px;">事件简要经过： </label>
                        <input class="easyui-textbox" name="eventDesc" id="eventDesc" style="width:50%;height: 120px;" data-options="multiline:true" th:value="${rescue.eventDesc}" />
                    </div>

                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" style="text-align: left;width: 350px;">患者（伤员）病情概况（详细病情请填附表）： </label>

                        <label class="textbox-label" for="totalNumber" style="text-align: left;width: 60px;">总数： </label>
                        <input class="easyui-textbox" name="totalNumber" id="totalNumber" style="width:50px;" th:value="${rescue.totalNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 40px;">人；</label>

                        <input class="easyui-textbox" name="mildNumber" id="mildNumber" style="width:50px;" th:value="${rescue.mildNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 60px;">人轻，</label>

                        <input class="easyui-textbox" name="severeNumber" id="severeNumber" style="width:50px;" th:value="${rescue.severeNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 60px;">人重,</label>

                        <input class="easyui-textbox" name="critically_Number" id="critically_Number" style="width:50px;" th:value="${rescue.critically_Number}" />
                        <label class="textbox-label"  style="text-align: left;width: 80px;">人危重，</label>

                        <input class="easyui-textbox" name="deathNumber" id="deathNumber" style="width:50px;" th:value="${rescue.deathNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 120px;">人院前死亡。</label>

                    </div>

                    <div style="margin-top: 10px;margin-left: 80px;">

                        <label class="textbox-label" for="eventTrend" style="text-align: left;width: 300px;">突发事件发展趋势（是否继续扩大）： </label>
                        <input class="easyui-textbox" name="eventTrend" id="eventTrend" style="width:40%;height: 90px;" data-options="multiline:true" th:value="${rescue.eventTrend}" />

                    </div>
                </div>

                <div id="inway">
                    <label class="textbox-label" style="text-align: left;width: 400px;font-size: 28px">入院方式</label>
                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" for="ambulanceNumber" style="text-align: left;width: 120px;">监护型救护车</label>
                        <input class="easyui-textbox" name="ambulanceNumber" id="ambulanceNumber" style="width:50px" th:value="${rescue.ambulanceNumber}" />
                        <label class="textbox-label" style="text-align: left;width: 50px;">台；</label>

                        <label class="textbox-label" for="doctorNumber" style="text-align: left;width: 50px;">医生</label>
                        <input class="easyui-textbox" name="doctorNumber" id="doctorNumber" style="width:50px" th:value="${rescue.doctorNumber}" />
                        <label class="textbox-label" style="text-align: left;width: 50px;">人、</label>

                        <label class="textbox-label" for="nurserNumber" style="text-align: left;width: 50px;">护士</label>
                        <input class="easyui-textbox" name="nurserNumber" id="nurserNumber" style="width:50px;" th:value="${rescue.nurserNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 50px;">人、</label>

                        <label class="textbox-label" for="driverNumber" style="text-align: left;width: 50px;">司机</label>
                        <input class="easyui-textbox" name="driverNumber" id="driverNumber" style="width:50px;" th:value="${rescue.driverNumber}" />
                        <label class="textbox-label"  style="text-align: left;width: 50px;">人</label>
                    </div>

                    <div style="margin-top: 10px;margin-left: 80px;">

                        <label class="textbox-label" for="otherWays" style="text-align: left;width: 120px;">其他入院方式  </label>
                        <input class="easyui-textbox" name="otherWays" id="otherWays" style="width:30%;height: 80px;" data-options="multiline:true" th:value="${rescue.otherWays}" />

                    </div>

                </div>

                <div id="resource" style="margin-top: 10px;">
                    <label class="textbox-label" style="text-align: left;width: 400px;font-size: 28px">需增援资源情况</label>
                    <div style="margin-top: 10px;margin-left: 80px;">
                        <label class="textbox-label" for="consultation" style="text-align: left;width: 150px;">是否需增援/会诊</label>
                        <input class="easyui-textbox" name="consultation" id="consultation" style="width:60px" th:value="${rescue.consultation}" />

                        <label class="textbox-label" for="additionalResources" style="text-align: left;width: 150px;margin-left: 30px;">请求增援的资源：</label>
                        <input class="easyui-textbox" name="additionalResources" id="additionalResources" style="width:30%;height: 80px;" data-options="multiline:true" th:value="${rescue.additionalResources}" />

                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" data-options="iconCls:'icon-save'" style="margin-left:100px;width:120px;height: 40px;font-size: 20px;">保存提交</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" data-options="iconCls:'icon-redo'" style="margin-left:10px;width:90px;height: 40px;font-size: 20px;">清屏</a>
                        <!--<a href="javascript:void(0)" class="easyui-linkbutton" onclick="detailForm()" data-options="iconCls:'icon-add'" style="margin-left:10px;width:100px;height: 40px;font-size: 20px;">救治情况</a>-->
                    </div>
                </div>
            </div>
        </div>

        <input class="easyui-textbox" name="createUser" id="createUser" data-options="cls:'hidden'"  th:value="${userId}" />
        <input class="easyui-textbox" name="mainId" id="mainId" data-options="cls:'hidden'"  th:value="${rescue.id}" />
        <!--<input class="easyui-textbox" name="id" id="id" data-options="cls:'hidden'"  th:value="${rescue.id}" />-->
    </form>

    <table id="detailList" class="easyui-datagrid" title="事件伤病员院内救治情况表" style="height:600px"
           data-options="rownumbers:true,singleSelect:true,url:'/MedicalRescueDetail/get/dataGrid',method:'get',cls:'myTable',toolbar:'#tb'">
        <thead>
        <tr>
            <th data-options="field:'patName',width:80,align:'center'">姓名</th>
            <th data-options="field:'patSex',width:60,align:'center'">性别</th>
            <th data-options="field:'patAge',width:80,align:'center'">年龄</th>
            <th data-options="field:'patNation',width:80,align:'center'">民族</th>
            <th data-options="field:'patOccupation',width:120,align:'center'">职业</th>
            <th data-options="field:'patDiag',width:300,align:'center'">初步诊断</th>
            <th data-options="field:'patAdmloc',width:150,align:'center'">收治科室</th>
            <th data-options="field:'patLevel',width:80,align:'center'">病情分级</th>
            <th data-options="field:'patReturn',width:80,align:'center'">转归情况</th>
            <th data-options="field:'patConsult',width:120,align:'center'">会诊专家</th>
            <th data-options="field:'patTrans',width:180,align:'center'">拟转医院及科室</th>
            <th data-options="field:'id',width:60,align:'center'">id</th>
        </tr>
        </thead>
    </table>

    <div id="tb" style="padding:2px 5px;margin: 5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="search" onclick="rescueDetailLoad();return false;">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="addDetail();return false;">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="editDetailEvent();return false;">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteDetail();return false;">删除</a>
    </div>

    <div id="detail-dailog"></div>

<script th:inline="javascript" type="text/javascript">

    $(document).ready(function () {

        var level=$("#eventLevel").attr("sel");
        $("#eventLevel").combobox("select",level);

        var type=$("#eventType").attr("sel");
        $("#eventType").combobox("select",type);

        rescueDetailLoad();
        gridDbClickEvent();
    });

    function rescueDetailLoad() {

        $('#detailList').datagrid('load', {
            mainId: $("#mainId").val()
        });
    }

    function gridDbClickEvent() {
        $('#detailList').datagrid({
            onDblClickRow: function(index,row){
                var id=row.id;
                editDetail(id);
            }
        });
    }

    function submitForm(){

        var url="";
        if($("#mainId").val()>0){
            url="/MedicalRescue/update";
        }else{
            url="/MedicalRescue/save";
        }

        $('#rescue').form('submit',{
            url:url,
            onSubmit: function(param){
                if($("#mainId").val()>0){
                    param.id = $("#mainId").val();
                }
                return $("#rescue").form('validate');
            },
            success:function(data){
                var data = eval('(' + data + ')');
                if(data.code==0){
                    $.messager.show({
                        title:'提示',
                        msg:'保存成功。',
                        timeout:2000,
                        showType:'null',
                        style:{

                        }
                    });
                    $("#mainId").val(data.data);
                    window.location.href="/MedicalRescue/rescue/index?userId="+$("#createUser").val()+"&rescueId="+$("#mainId").val();
                }else{
                    $.messager.show({
                        title:'提示',
                        msg:data.msg,
                        timeout:2000,
                        showType:'null',
                        style:{

                        }
                    });
                }
            }
        });
    }
    function clearForm(){
        $('#rescue').form('clear');
    }
    
    function addDetail() {

        //var url="/MedicalRescueDetail/rescue/detail?rescueId="+$("#id").val();
        var url="/MedicalRescueDetail/rescue/detail?rescueId="+$("#mainId").val();
        //window.open(url,"detail","toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbar=yes,resizable=no,height=550,width=1000,top=50,left=200")

        $('#detail-dailog').dialog({
            title: '宝安区突发事件伤病员院内救治情况',
            width: 1000,
            height: 400,
            closed: false,
            cache: false,
            href: url,
            modal: true,
            onClose: function () {
                rescueDetailLoad();
            }
        });
    }

    function getSelected(){
        var row = $('#detailList').datagrid('getSelected');
        if(row){
            return row.id;
        }else{
            return "";
        }
    }

    function editDetail(id) {

        if(id==""){
            $.messager.alert('温馨提示', "请先选择一项纪录再修改");
            return;
        }
        var url="/MedicalRescueDetail/rescue/detail?rescueId="+$("#mainId").val()+"&detailId="+id;

        $('#detail-dailog').dialog({
            title: '宝安区突发事件伤病员院内救治情况',
            width: 1000,
            height: 400,
            closed: false,
            cache: false,
            href: url,
            modal: true,
            onClose: function () {
                rescueDetailLoad();
            }
        });
    }

    function editDetailEvent() {
        var id=getSelected()
        editDetail(id);
    }

    function deleteDetail() {
        var id=getSelected()
        if(id==""){
            $.messager.alert('温馨提示', "请先选择一项纪录再删除");
            return;
        }else{

            $.get("/MedicalRescueDetail/remove/"+id,function (data) {
                //var data = eval('(' + data + ')');
                if(data.code==0){
                    $.messager.show({
                        title:'提示',
                        msg:'删除成功。',
                        timeout:1000,
                        showType:'null',
                        style:{

                        }
                    });
                    rescueDetailLoad();
                }else{
                    $.messager.show({
                        title:'提示',
                        msg:data.msg,
                        timeout:1000,
                        showType:'null',
                        style:{

                        }
                    });
                }
            });
        }
    }

</script>
</body>

</html>