<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>whiteboard</title>
    <style>html, body, #app {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }</style>
    <link th:href="@{css/app.e19ae7cb9793d5e50afac5b8b0b8373c.css}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript th:src="@{js/manifest.2ae2e69a05c33dfc65f8.js}"></script>
<script type=text/javascript th:src="@{js/vendor.c949c347a51e2b21323e.js}"></script>
<script type=text/javascript th:src="@{js/app.fe283b6d3902f3b25ab5.js}"></script>
</body>
</html>