<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.cn.framework.mapper.EposideMapper">

    <resultMap id="eposide" type="com.dhcc.cn.framework.pojo.cache.EposideInfo">

    </resultMap>

    <select id="getEposideInfoByAdmId" resultMap="eposide" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatEposideInfo(#{admId,mode=IN},"admId")}
    </select>

    <select id="getEposideInfoByRegNo" resultMap="eposide" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatEposideInfo(#{regNo,mode=IN},"regNo")}
    </select>

    <select id="getEposideInfoByMedCareNo" resultMap="eposide" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatEposideInfo(#{medCareNo,mode=IN},"medCareNo")}
    </select>

</mapper>