<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.cn.framework.mapper.PatientMapper">

    <resultMap id="patient" type="com.dhcc.cn.framework.pojo.cache.PatientInfo">

    </resultMap>

    <select id="getPatientById" resultMap="patient" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatBaseInfo(#{patientId,mode=IN},"patId")}
    </select>

    <select id="getPatientByRegNo" resultMap="patient" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatBaseInfo(#{regNo,mode=IN},"regNo")}
    </select>

    <select id="getPatientByEposideId" resultMap="patient" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatBaseInfo(#{eposideId,mode=IN},"admId")}
    </select>

    <select id="getPatientByMedCareNo" resultMap="patient" parameterType="string" statementType="CALLABLE">
        {call framework_procedure.PatBase_GetPatBaseInfo(#{medCareNo,mode=IN},"medCareNo")}
    </select>

</mapper>